<%= render 'optimadmin/shared/header/main_title', title: 'New Contact Enquiry Type' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: job_roles_path, title: 'Contact Enquiry Type' %>
  <%= render 'form' %>
</div>
