<div class="row">
  <div class="small-12 columns">
    <h2>
      Application form
    </h2>

    <div class="form-notice">
      <p>Review and edit the sections for your application form by using the links below.</p>

      <p>You can edit your application form at any time, until it is submitted.</p>
    </div>

    <%= render 'member_area/base/application_form_navigation' %>
  </div>
</div>
