<h2>Referees</h2>

<%= render @presented_referees %>

<%= presented_current_member_profile.new_referee_link %>

<h2>Emergency Contact</h2>

<%= link_to "Back to overview", member_area_member_profile_path %>