<section class="rates-of-pay" id="<%= additional_row_presenter.anchor %>">
  <div class="row">
    <div class="medium-12 columns">
      <%= render partial: "additional_rows/additional_block", collection: BaseCollectionPresenter.new(collection: additional_row_presenter.additional_blocks, view_template: self, presenter: AdditionalBlockPresenter), as: :additional_block_presenter, locals: { additional_row_presenter: additional_row_presenter } %>
    </div>
  </div>
</section>
