<div class="row">
  <div class="small-12 columns">
    <hr class="partial-separator "/>

    <h4>Training</h4>

    <% if member_training.mandatory_training_courses.present? %>
      <div class="field-title">Mandatory Training Courses Completed</div>

      <div class="row">
        <%= render partial: "member_area/mandatory_training_courses/mandatory_training_course", collection: member_training.mandatory_training_courses %>
      </div>
    <% end %>

    <hr class="partial-separator" />

    <% if member_training.member_other_training_courses.present? %>
      <h4>Other Training Courses Completed</h4>
      <%= render partial: "member_area/member_other_training_courses/member_other_training_course", collection: member_training.member_other_training_courses %>
    <% end %>
  </div>
</div>
