<%= render 'optimadmin/shared/header/main_title', title: 'Edit Available Role' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: available_roles_path, title: 'Available Role' %>
  <%= render 'form' %>
</div>
