<%#= render 'shared/social_media' %>

<footer class="primary-footer">
  <div class="primary-footer-contact-area">
    <div class="row">
      <div class="medium-12 columns">
        <h5>Contact Us</h5>
      </div>
    </div>

    <div class="row">
      <div class="medium-6 columns" data-animation-type="slideInLeft">
        <p>
          If you would like to contact us about anything else, please use the form
          opposite and a member of our friendly team will be right back to you:<br /><br />

          NLG Homecare<br />
          Riverside House<br />
          3 Earls Court<br />
          Henry Boot Way<br />
          Hull<br />
          East Yorkshire<br />
          HU4 7DY<br /><br />

          <%= link_to 'nlghomecare.co.uk', 'http://nlghomecare.co.uk' %><br /><br />

          Email: <%= mail_to 'homecare@nlgroup.co.uk' %><br />
          Tel: <strong>01482 60 60 40</strong> <em>(Option 1)</em><br />
          Fax: <strong>01482 62 83 81</strong>
      </div>

      <div class="medium-6 columns" data-animation-type="slideInRight">
        <%= render 'contacts/form' %>
      </div>
    </div>
  </div>

  <%= render 'layouts/shared/footer_accreditations_and_navigation' %>
</footer>
