<div class="row">
  <div class="small-12 columns">
    <%= content_tag :ul, (render partial: 'accreditations/accreditation',
               collection: @presented_accreditations,
               as: :presented_accreditation), class: 'footer-accreditations' if @presented_accreditations.present? %>
  </div>
</div>


<div class="row">

  <% if @footer_homecare_menu.menu_items.present? %>
    <div class="medium-4 columns">
      <div class="footer-navigation-title">
        Arranging Homecare
      </div>

      <ul class="footer-navigation-links">
        <%= nested_menu_items(menu_items: @footer_homecare_menu.menu_items) %>
      </ul>
    </div>
  <% end %>
  <% if @footer_about_menu.menu_items.present? %>
    <div class="medium-4 columns">
      <div class="footer-navigation-title">
        About NLG Homecare
      </div>

      <ul class="footer-navigation-links">
        <%= nested_menu_items(menu_items: @footer_about_menu.menu_items) %>
      </ul>
    </div>
  <% end %>
  <% if @footer_jobs_menu.menu_items.present? %>
    <div class="medium-4 columns">
      <div class="footer-navigation-title">
        Homecare Jobs at NLG
      </div>

      <ul class="footer-navigation-links">
        <%= nested_menu_items(menu_items: @footer_jobs_menu.menu_items) %>
      </ul>
    </div>
  <% end %>
</div>
