<nav class="primary-navigation">
  <div class="row">
    <div class="small-12 columns">
      <ul class="primary-navigation-links">
        <%= nested_menu_items(menu_items: @header_menu.menu_items) %>
      </ul>
    </div>
  </div>
</nav>
