<div class="medium-4 columns">
  <div class="small-branded-content-box"  data-animation-type='fadeInUp'>
    <div class="rate-title">
      <%= available_role_presenter.title %>
    </div>

    <div class="rate-amount">
      <%= available_role_presenter.rates_of_pay %>
    </div>
  </div>
</div>
