<ul class="rates-of-pay-data">
  <li>
    Available Roles: <span><%= available_role_presenter.title %></span>
  </li>

  <li>
    Rates: <span><%= available_role_presenter.rates_of_pay %></span>
  </li>
</ul>
