<div class="row">
  <div class="medium-8 columns">
    <%= link_to available_role_presenter.workable_link do %>
      <ul class="rates-of-pay-data">
        <li>
          <%= available_role_presenter.title %>
        </li>

        <li>
          <%= available_role_presenter.rates_of_pay %>
        </li>
      </ul>
    <% end %>
  </div>

  <div class="medium-4 columns">
    <%= link_to 'Apply now', available_role_presenter.workable_link, class: 'green-action-button colorbox-iframe'  %>
  </div>
</div>
