<%= render 'optimadmin/shared/header/main_title', title: 'Edit Work Reason' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: work_reasons_path, title: 'Work Reason' %>

  <%= render 'form' %>
</div>