<div class="row">
  <div class="small-12 columns">
    <h1>Messages</h1>
    
    <%= render partial: "member_area/admin_messages/admin_message", collection: @message_centre.messages, locals: { dismissed_message_ids: @message_centre.dismissed_message_ids } %>
  </div>
</div>
