<%= render 'optimadmin/shared/header/main_title', title: 'Edit Admin Message' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: admin_messages_path, title: 'Admin Message' %>

  <%= render 'form' %>
</div>