<div class="row">
  <div class="small-12 columns">
    <h1>Timesheets</h1>

    <%= button_to "Create Timesheet", member_area_timesheets_path %>

    <h2>Previous Timesheets</h2>

    <div class="timesheet-headers">
      <div class="row">
        <div class="small-4 columns">
          <strong class="field-title">Date Created</strong>
        </div>
        <div class="small-4 columns">
          <strong class="field-title">Time Sheet Reference</strong>
        </div>
        <div class="small-4 columns">
          <strong class="field-title">Download</strong>
        </div>
      </div>
    </div>

    <%= render(@timesheets) || "Currently no timesheets" %>
  </div>
</div>
