<div class="row">
  <div class="small-12 columns text-center">
    <div class="frequently-asked-questions-button">
      <%= additional_block_presenter.presented_button(0) %>
    </div>
  </div>
</div>
