<%= render 'optimadmin/shared/header/main_title', title: 'Edit Member Profile' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: member_profiles_path, title: 'Member Profile' %>

  <%= render 'form' %>
</div>