<%= render 'optimadmin/shared/header/main_title', title: 'Edit Additional Block' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: additional_blocks_path(additional_row: @additional_block.additional_row.id), title: 'Additional Block' %>

  <%= render 'form' %>
</div>
