<section class="rates-of-pay">
  <h2 class="text-center">
    <%= rates_of_pay.title %>
  </h2>

  <div class="row">
    <div class="small-10 columns small-centered text-center">
      <%= raw rates_of_pay.content %>
    </div>
  </div>
</section>