<section class="reasons">
  <h2 class="text-center"><%= reasons.title %></h2>

  <% @landing_page_facade.landing_page_why_works.each_slice(2) do |slice| %>
    <div class="row">
      <%= render slice %>
    </div>
  <% end %>
</section>