<section class="testimonials">
  <h3 class="text-center">
    <%= testimonials.title %>
  </h3>

  <p class="text-center">
    <%= raw testimonials.content %>
  </p>

  <div class="testimonials-slider">
    <%= render partial: "testimonials/landing_page_testimonial", collection: @landing_page_facade.testimonials,
               as: :testimonial if @landing_page_facade.testimonials %>
  </div>
</section>