<%= render 'optimadmin/shared/header/main_title', title: 'Edit Landing Page Why Work' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: landing_page_why_works_path, title: 'Landing Page Why Work' %>

  <%= render 'form' %>
</div>