<div class="modal-wrap">
  <div class="modal-wrap-content">
    <%= link_to 'x', '#',
                    class: 'modal-close-button toggle-class',
                    title: 'Close modal',
                    data: {
                      container: '.modal-wrap.visible',
                      class: 'visible',
                      return: false
                    } %>

    <div class="modal-team-member-content">
      Loading...
    </div>

    <div class="modal-team-member-filter-wrap">
      <div class="modal-team-member-filter">
        Filter by:

        <%= content_tag :ul,
              (render partial: 'team_member_teams/modal_link',
                     collection: @team_member_teams,
                     as: :team_member_team),
            class: 'modal-team-member-filter-type-list' if @team_member_teams.present? %>
      </div>

      <div class="modal-team-members-list">
        <%= render partial: 'team_members/shared/modal_preview',
                   collection: @presented_team_members,
                   as: :team_member_presenter %>
      </div>
    </div>
  </div>
</div>
