<div class="modal-wrap modal-wrap-team-member">
  <div class="modal-wrap-content modal-wrap-team-member-content">
    <%= link_to 'x', '#',
                    class: 'modal-close-button toggle-class',
                    title: 'Close modal',
                    data: {
                      container: '.modal-wrap.visible',
                      class: 'visible',
                      return: false
                    } %>

    <div class="modal-team-member-content modal-content">
      Loading...
    </div>

    <div class="modal-team-member-filter-wrap">
      <%= render 'team_members/shared/modal_filter' if @team_member_teams.present? && @team_member_teams.size > 1 %>

      <div class="modal-team-members-list">
        <%= render partial: 'team_members/shared/modal_preview',
                   collection: @presented_team_members,
                   as: :team_member_presenter %>
      </div>
    </div>
  </div>
</div>
