<section class="team">
  <div class="row">
    <div class="medium-12 large-10 columns">
      <div data-animation-type="slideInLeft">
        <h4>A friendly team you can rely on</h4>

        <p>
          At NL Group our ethical way of doing things is of pivotal importance to us. It is not about what we do, it is about how we do it. We believe in providing flexible working conditions for highly trained professional healthcare workers who represent NL Group in the best possible fashion, at very competitive rates of pay.
        </p>

        <%= link_to 'Speak to one of our friendly team', '#', class: 'dark-action-button' %>
      </div>
    </div>
  </div>

  <% unless @presented_team_members.blank? %>
    <div class="home-team-members" data-animation-type="slideInRight">
      <% @presented_team_members.split_array(@presented_team_members.presented_collection, [5,2,4,4,3,1]).each_with_index do |presented_team_member_array, i| %>
        <div class="row collapse team-members-row-<%= i %>">
          <% presented_team_member_array.each_with_index do |presented_team_member, j| %>
            <div class="<%= presented_team_member.homepage_classes(outer_loop: i, inner_loop: j) %>">
              <%= presented_team_member.profile_preview %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
