<div class="row">
  <div class="small-12 columns text-center">
    <%= render partial: 'team_member_teams/team_member_team', collection: @presented_team_member_teams, as: :team_member_team_presenter %>
  </div>
</div>
