.team {
  padding: em(72px) 0;
  background: $dark-blue;
  text-align: center;

  h4 {
    @include dark-content-box-title;
  }

  .green-action-button {
    color: $dark-blue;
    margin: em(18px) 0 0;

    &:hover,
    &:active {
      color: $white;
    }
  }
}

.team-member-index {
  display: block;
  margin: em(10px) em(20px) em(43px);
}

.team-member-index-image {
  border: 3px solid $primary-blue;
  border-radius: 50%;
  margin: 0 auto;
}

.team-member-index-name {
  color: $white;
  font-size: em(18px);
  margin: em(15px, 18px) 0 0;
}

.team-member-index-role {
  color: $white;
  font-size: em(14px);
  font-weight: $proxima-nova-semibold;
  margin: em(15px, 14px) 0 0;
}

.team-member-index-email {
  color: $light-blue;
  display: block;
  margin: em(28px) 0 0;

  &:visited,
  &:link {
    color: $light-blue;
  }

  &:hover,
  &:active {
    color: $white;
  }
}


.team-member-name {
  border-bottom: 0;
  color: $primary-blue;
  font-size: em(28px);
  font-weight: $proxima-nova-light;
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 em(14px, 28px);
  margin: em(14px, 28px) 0 0;
}

.team-member-role {
  border-bottom: 3px solid $grey;
  color: $primary-blue;
  font-size: em(14px);
  font-weight: $proxima-nova-light;
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 em(7px);
  margin: 0 0 em(14px);
}

.team-member-phone,
.team-member-email {
  color: $primary-blue;
  line-height: 1.25;
  margin: em(7px) 0;
}

.team-member-profile {
  p:first-of-type {
    margin-top: 0;
  }
}
