<%= render 'optimadmin/shared/header/main_title', title: 'New Mandatory Training Course' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: mandatory_training_courses_path, title: 'Mandatory Training Course' %>

  <%= render 'form' %>
</div>