<section class="social">
  <div class="row">
    <div class="medium-12 columns text-center">
      Follow Us

      <%= social_media_link 'Facebook' %>
      <%= social_media_link 'Twitter' %>
      <%= social_media_link 'Google Plus' %>
      <%= social_media_link 'Vimeo' %>
    </div>
  </div>
</section>
