<div class="row">
  <div class="medium-4 columns">
    <div class="small-branded-content-box"  data-animation-type='fadeInUp'>
      <div class="rate-title">
        ODP rates
      </div>

      <div class="rate-amount">
        £26.00 ˜ £53.00*
      </div>

      <div class="rate-time">
        per hour
      </div>
    </div>
  </div>

  <div class="medium-4 columns">
    <div class="small-branded-content-box"  data-animation-type='fadeInUp' data-animation-delay="750">
      <div class="rate-title">
        ODP rates
      </div>

      <div class="rate-amount">
        £26.00 ˜ £53.00*
      </div>

      <div class="rate-time">
        per hour
      </div>
    </div>
  </div>

  <div class="medium-4 columns">
    <div class="small-branded-content-box" data-animation-type='fadeInUp' data-animation-delay="1250">
      <div class="rate-title">
        ODP rates
      </div>

      <div class="rate-amount">
        £26.00 ˜ £53.00*
      </div>

      <div class="rate-time">
        per hour
      </div>
    </div>
  </div>
</div>
