<%= content_for :footer do %>
  <script>
    $(document).ready(function() {
      $('.available-roles-slider').slick({
        autoplay: true,
        autoplaySpeed: 4000,
        slidesToShow: 3,
        slidesToScroll: 1,
        arrows: true,
        infinite: true
      });

      $('.available-roles-slider .small-branded-content-box').matchHeight();
    });
  </script>
<% end %>

<div class="row">
  <div class="available-roles-slider">
    <%= render partial: 'available_roles/available_role', collection: @presented_available_roles, as: :available_role_presenter %>
  </div>
</div>
