<%= content_for :footer do %>
  <script>
    $(document).on('submit', '.job-location-search', function() {
      var jobLocationSearchInput = $('.job-location-search-input').val();
      $('#contact_location').val(jobLocationSearchInput);
      $('a[href=#contact_name]').click();
      return false;
    });

    $(document).ready(function() {
      $('.rates-of-pay-slide').slick({
        autoplay: true,
        autoplaySpeed: 4000
      });
    });
  </script>
<% end %>

<div class="rates-of-pay-hero">
  <div class="row collapse small-uncollapse">
    <div class="small-12 columns">
      <div class="rates-of-pay-content-box thick-border text-center" data-animation-type='fadeInUp'>

        <div class="row">
          <div class="medium-6 columns">

            <div class="rates-of-pay-slide">
              <ul class="rates-of-pay-data">
                <li>
                  Available Roles: <span>ODP</span>
                </li>

                <li>
                  Rates: <span>£26.00 ˜ £53.00* per hour</span>
                </li>
              </ul>
            </div>
          </div>

          <div class="medium-6 columns">
            <%= form_tag '', class: 'job-location-search' do %>
              <%= text_field_tag :location, nil, placeholder: 'Find a Job Near You', class: 'job-location-search-input' %>
              <%= submit_tag '', class: 'job-location-search-submit' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
