<%= render 'optimadmin/shared/header/main_title', title: 'New Job Role' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: job_roles_path, title: 'Job Role' %>
  <%= render 'form' %>
</div>
