<div class="row">
  <div class="small-12 columns">
    <h1><%= @presented_page.title %></h1>
  </div>
</div>

<div class="row">
  <div class="medium-9 medium-centered columns">
    <%= @presented_page.content %>
  </div>
</div>
