<div class="medium-3 columns">
  <h2 class="homecare-value-title">
    <%= additional_block_presenter.presented_title %>
  </h2>

  <div class="homecare-value-content">
    <%= additional_block_presenter.presented_block do %>
      <%= additional_block_presenter.presented_paragraph %>
    <% end %>
  </div>
</div>
