<%= content_for :head do %>
  <%= javascript_include_tag 'application' %>
<% end %>

<div id="remote-contact-form">
  <div class="row">
    <div class="medium-12 columns">
      <h1 class="team-member-name" data-animation-type="fadeIn"><h1>Contact Us</h1></h1>

      <%= render 'contacts/remote_form' %>
    </div>
  </div>
</div>
