<%= content_for :footer do %>
  <script>
    $(document).ready(function() {
      $('.our-carers-provide-slide').slick({
        autoplay: true,
        autoplaySpeed: 4000,
        slidesToShow: 4,
        slidesToScroll: 4,
        dots: true
      });

      var paddingBottom = parseInt($('.rates-of-pay-hero').height() + 20);
      $('.register-interest-and-find-work').css('padding-bottom', paddingBottom);
    });
  </script>
<% end %>
<div class="rates-of-pay-hero">
  <div class="row collapse small-uncollapse">
    <div class="small-12 columns">
      <div class="rates-of-pay-content-box our-carers-provide-content thick-border text-center">
        <h2 class="our-carers-provide-title">
          <%= additional_block_presenter.presented_title %>
        </h2>

        <div class="our-carers-provide-slide white-slick-arrows shared-slick-arrows">
          <%= additional_block_presenter.presented_paragraph %>
        </div>
      </div>
    </div>
  </div>
</div>
