<%= content_for :footer do %>
  <script>
    $(document).ready(function() {
      $('.job-seekers-slide').slick({
        autoplay: true,
        autoplaySpeed: 4000,
        dots: true
      });
    });
  </script>
<% end %>
<div class="rates-of-pay-hero">
  <div class="row collapse small-uncollapse">
    <div class="small-12 columns">
      <div class="rates-of-pay-content-box our-carers-provide-content thick-border text-center">
        <h2 class="our-carers-provide-title">
          <%= additional_block_presenter.presented_title %>
        </h2>

        <div class="job-seekers-slide white-slick-arrows shared-slick-arrows">
          <%= render partial: 'job_roles/slide',
                     collection: @presented_job_roles,
                     as: :job_role %>
        </div>
      </div>
    </div>
  </div>
</div>
