.inner-content .social {
  margin: em(40px) 0 0;
}

.primary-footer {
  margin: rem(50px) 0;

  h5 {
    @include dark-content-box-title;
    text-align: center;
  }

  a {
    color: $white;
    font-weight: $proxima-nova-bold;
    text-decoration: none;
  }

  input[type='text'],
  input[type='tel'],
  input[type='email'],
  textarea,
  select {
    background: $blue-grey;
    color: $dark-blue;
    padding: em(12px);
  }

  strong,
  label,
  p {
    color: $white;
  }

  p {
    font-size: em(16px);
  }
}

.primary-footer-contact-area {
  background: $dark-blue;
  padding: em(50px) 0;
}
