.display-block {
  display: block;
}

@include media('<desktop') {
  .inner-content {
    padding: em(80px) 0 0;
  }
}

@include media('>=desktop') {
  .inner-content {
    // A little hacky, but colorbox positiong screws up otherwise
    // background: image-url('components/contact-us/squares.png') 0 em(142px) no-repeat;
    padding: em(160px) 0 0;
  }

  .home-content {
    padding: em(173px) 0 0;
  }
}


.colorbox-content {
  //background: image-url('components/contact-us/upside-down-squares.png') bottom right no-repeat;
  background: image-url('layout/footer/graphic.jpg') -80% 250% no-repeat;
  height: 100%;

  .row {
    background: $white;
  }
}

.register-interest-and-find-work {
  @include media('>tablet') {
    background: image-url('layout/home/staff-background.jpg') center -10px no-repeat;
    padding: 0 0 em(125px);
    position: relative;
  }

  @include media('<tablet') {
    margin: em(80px) 0 em(15px);
  }

  .branded-content-box-small-typography,
  .small-branded-content-box {
    height: 100%;

    @include media('<tablet') {
      margin: 0 0 em(15px);
    }
  }
}
