.display-block {
  display: block;
}

.inner-content {
  // A little hacky, but colorbox positiong screws up otherwise
  background: image-url('components/contact-us/squares.png') 0 em(182px) no-repeat;
  padding: em(222px) 0 0;
}

.colorbox-content {
  background: image-url('components/contact-us/upside-down-squares.png') bottom right no-repeat;
  height: 100%;

  .row {
    background: $white;
  }
}

.home-content {
  padding: em(182px) 0 0;
}
