<%= render 'optimadmin/shared/header/main_title', title: 'Edit Accreditation' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: accreditations_path, title: 'Accreditation' %>
  <%= render 'form' %>
</div>
