<%= render 'optimadmin/shared/header/main_title', title: 'Edit Key Contact' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: key_contacts_path, title: 'Key Contact' %>

  <%= render 'form' %>
</div>