<%= render 'optimadmin/shared/header/main_title', title: 'New Team Member Team' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: team_member_teams_path, title: 'Team Member Team' %>

  <%= render 'form' %>
</div>