<%= render 'optimadmin/shared/header/main_title', title: 'Edit Workable Stage' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: workable_stages_path, title: 'Workable Stage' %>

  <%= render 'form' %>
</div>