<%= render 'optimadmin/shared/header/main_title', title: 'Edit Additional Button' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: additional_buttons_path(additional_block_id: @additional_button.additional_block.id), title: 'Additional Button' %>

  <%= render 'form' %>
</div>
