<%= render 'optimadmin/shared/header/main_title', title: 'New Additional Button' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: additional_buttons_path(additional_block_id: (params[:additional_button].present? ? params[:additional_button][:additional_block_id] : params[:additional_block_id])), title: 'Additional Button' %>

  <%= render 'form' %>
</div>
