<div class="row">
  <div class="small-12 columns">
    <h1>New Address</h1>
  </div>
</div>

<div class="row">
  <div class="medium-3 columns">
    <%= render 'member_area/shared/application_form_sidebar' %>
  </div>

  <div class="medium-9 columns">
    <%= render "form" %>
  </div>
</div>
