%action-button {
  @include border-radius(8px);
  display: inline-block;
  font-size: em(16px);
  font-weight: $proxima-nova-semibold;
  padding: em(16px, 16px) em(25px, 16px);
  text-decoration: none;

  @include media('<tablet') {
    padding: em(9px, 16px) em(12px, 16px);
  }
}

.light-action-button {
  @extend %action-button;
  @include link-colors($dark-grey, $light-blue, $dark-grey, $dark-grey, $dark-grey);
  background: $white;
}

.green-action-button,
input[type='submit'].green-action-button {
  @extend %action-button;
  @include link-colors($white, $grey, $white, $white, $white);
  background: $green;

  &:hover {
    background: $dark-green;
    color: $white;
  }
}

.blue-action-button {
  @extend %action-button;
  @include link-colors($white, $white, $white, $white, $white);
  background: $light-blue;

  &:hover {
    background: $bright-light-blue;
  }
}

.dark-action-button {
  @extend %action-button;
  @include link-colors($white, $light-blue, $white, $white, $white);
  background: $dark-grey;
}
