.clients {
  padding: em(50px) 0;

  h2 {
    @include media('>=tablet') {
      padding: 0 em(140px, 24px) em(35px, 24px);
    }
  }

  p {
    font-weight: $proxima-nova-semibold;
  }

  .slick-slider {
    margin: em(40px) 0 0;
  }

  .slick-dots {
    position: static;
  }
}

.clients-list {
  list-style: none;
  margin: em(40px) 0 0;

  img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-filter: grayscale(1);
    margin: 0 auto;
    padding: 0 em(20px);
  }
}
