.frequently-asked-questions {
  background: $primary-blue;
  padding: em(56px) 0 em(64px);

  h4 {
    color: $white;
    border-bottom: 3px solid $grey;
    font-size: em(27px);
    font-weight: $proxima-nova-light;
    text-transform: uppercase;
    padding: 0 0 em(24px, 27px);
    margin: 0 0 em(42px, 27px);
  }

  p {
    color: $white;
    font-size: em(18px);
    font-weight: $proxima-nova-light;
    line-height: 1.25;
  }

  .frequently-asked-questions-reveal {
    font-size: em(22px, 18px);
    font-weight: $proxima-nova-bold;
  }

  strong {
    color: $light-blue;
  }
}

.frequently-asked-questions-list {
  list-style: none;
  margin: em(32px) 0 0;

  @include media('<tablet') {
    margin: 0;
  }

  li {
    color: $white;
    position: relative;
    padding: em(6px) 0 0 em(52px);
    margin: 0 0 em(27px);

    a {
      @include link-colors($white);
      text-decoration: none;
    }

    &:before {
      @include border-radius(50%);
      content: 'Q';
      background: $white;
      color: $dark-green;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      position: absolute;
      left: 0;
      top: 0;
    }

    p {
      font-size: em(14px);
    }
  }
}
