.hero-banner {
  background: image-url('layout/home/banner.png') no-repeat bottom right,
              image-url('layout/home/hero-background.jpg') no-repeat bottom,
              $pale-blue;
}

.hero-content-area {
  background: $light-blue;
  padding: em(57px);

  @include media('<tablet') {
    margin: em(100px) em(15px) 0;
    padding: em(15px);
  }

  p {
    color: $white;
    font-size: em(34px);
    font-weight: $proxima-nova-light;
    margin: em(30px, 34px) 0 em(47px, 34px);
    padding: 0;

    @include media('<tablet') {
      font-size: em(17px);
      margin: em(15px, 34px) 0 em(23px, 34px);
    }
  }

  .light-action-button {
    margin: 0 em(15px, 16px) 0 0;

    @include media('<desktop') {
      margin: 0 0 em(15px, 16px);
    }
  }
}

.register-interest-content {
  @include clearfix;

  @include media('>=tablet') {
    width: 75%;
    margin: 0 auto;

    ul {
      float: left;
      font-size: em(13px);
      color: $dark-grey;
      list-style: none;
      width: 50%;
    }

    li {
      margin: 0 em(23px) em(23px) 0;
      min-height: 33px;
      padding-left: 33px;
      position: relative;

      &:before {
        background: image-url('components/home-content/list-tick.png') no-repeat;
        content: '';
        height: 23px;
        left: 0;
        position: absolute;
        width: 23px;
      }
    }
  }
}

.rates-of-pay-hero {
  bottom: 0;
  position: absolute;
  width: 100%;
}
