.our-carers-provide-content {
  text-align: center;
}

.our-carers-provide-title {
  background: image-url('components/icons/person-icon.png') left center no-repeat;
  border: 0;
  color: $white;
  display: inline-block;
  font-size: em(21px);
  font-weight: $proxima-nova-bold;
  margin: 0 0 rem(20px);
  padding: 0 0 0 em(16px);
  text-transform: inherit;
}

.our-carers-provide-slide {
  color: $white;
  margin: 0 auto;
  padding: em(8px) 0;
  width: 90%;
}

.job-seekers-slide-content {
  color: $white;

  @include media('>=768px') {
    padding: 0 em(20px);
  }

  a {
    &:link,
    &:visited {
      color: $white;
    }

    &:hover,
    &:focus,
    &:active {
      color: $white;
    }
  }
}

.job-role-slide-title {
  font-size: em(16px);
  font-weight: $proxima-nova-bold;
}
