.homecare-funding {
  background: $dark-blue;
  padding: em(45px) 0 em(70px);
}

.homecare-funding-content {
  h2 {
    @include dark-content-box-title;
    text-align: center;
  }

  p {
    color: $white;
    font-size: em(18px);
    text-align: center;
  }
}

.home-care-funding-disclaimer {
  background: $white;
  margin: em(20px) 0 em(40px);
  padding: em(40px) em(30px) em(20px);
  text-align: center;

  h2 {
    border: 0;
    font-size: em(17px);
    font-weight: $proxima-nova-semibold;
    margin: 0;
    padding: 0;
  }

  p {
    color: $dark-blue;
    font-size: em(14px);
    margin: em(20px) 0;
    padding: 0;
  }
}

.homecare-funding-modals {
  margin: em(20px) 0;

  a {
    margin: 0 em(6px);
  }
}
