.primary-navigation {
  background: $primary-blue;
  padding: em(16px);
  text-align: center;

  ul {
    list-style: none;
  }

  li {
    border-right: 1px solid $white;
    display: inline;

    &:last-of-type {
      border-right: 0;
    }
  }

  a {
    @include link-colors($white, $grey, $white, $white, $white);
    font-size: em(16px);
    padding: 0 em(5px, 16px);
    text-decoration: none;
  }
}

.member-navigation {
  background: $primary-blue;
  list-style: none;
  padding: em(16px);
  text-align: center;
  margin: 0 0 em(20px);

  li {
    border-right: 1px solid $white;
    display: inline;
    text-align: center;

    &:last-of-type {
      border-right: 0;
    }
  }

  a {
    @include link-colors($white, $grey, $white, $white, $white);
    font-size: em(16px);
    padding: 0 em(5px, 16px);
    text-decoration: none;
  }
}
