.rates-of-pay {
  margin: em(45px) 0 em(70px);
  text-align: center;

  @include media('<tablet') {
    margin: em(22px) 0 em(35px);
  }

  h3 {
    color: $primary-blue;
    border-bottom: 3px solid $grey;
    font-size: em(27px);
    font-weight: $proxima-nova-light;
    text-transform: uppercase;
    padding: 0 0 em(24px, 27px);
    margin: 0 0 em(42px, 27px);
  }
}

.rates-of-pay-section-title {
  color: $light-green;
  font-size: em(24px);
  font-weight: $proxima-nova-bold;
  margin: em(22px, 24px) 0 0;
}

.rates-of-pay-introduction {
  p {
    font-size: em(19px);
    margin: 0 0 em(42px, 19px);
  }
}

.rate-title {
  font-size: em(19px);
  line-height: 1;
  margin: em(80px, 19px) 0 em(20px, 19px);

  &.small-margin {
    margin-top: em(18px, 19px);
  }
}

.rate-title-secondary-information {
  display: block;
  font-size: em(15px, 19px);
  margin: em(17px, 15px) 0 0;
}

.rate-amount {
  font-size: em(32px);
  font-weight: $proxima-nova-bold;
  line-height: 1;
}

.rate-time {
  font-size: em(12px);
  line-height: 1;
  margin: 0 0 em(100px, 12px);

  &.no-margin {
    margin: 0;
  }
}

.rate-small-print {
  margin: em(40px) 0;

  p {
    font-weight: $proxima-nova-light;
  }
}
