.rates-of-pay {
  margin: em(45px) 0 em(70px);
  text-align: center;

  @include media('<tablet') {
    margin: em(22px) 0 em(35px);
  }

  h3 {
    color: $primary-blue;
    border-bottom: 3px solid $grey;
    font-size: em(27px);
    font-weight: $proxima-nova-light;
    text-transform: uppercase;
    padding: 0 0 em(24px, 27px);
    margin: 0 0 em(42px, 27px);
  }
}

.rates-of-pay-content-box {
  background: $bright-light-blue;
  padding: em(24px) 0 em(26px);
}

.rates-of-pay-slide {
  margin: 0;

  .slick-prev {
    left: 0;
    z-index: 2;

    &:before {
      background: image-url('components/icons/rates-of-pay-left.png') no-repeat;
      content: '';
      display: block;
      height: 22px;
      width: 13px;
    }
  }

  .slick-next {
    right: 0;
    z-index: 2;

    &:before {
      background: image-url('components/icons/rates-of-pay-right.png') no-repeat;
      content: '';
      display: block;
      height: 22px;
      width: 13px;
    }
  }
}

.rates-of-pay-data {
  color: $white;
  list-style: none;
  padding: 0 0 0 em(48px);
  text-align: left;

  span {
    color: $dark-blue;
  }
}

.rates-of-pay-section-title {
  color: $light-green;
  font-size: em(24px);
  font-weight: $proxima-nova-bold;
  margin: em(22px, 24px) 0 0;
}

.rates-of-pay-introduction {
  p {
    font-size: em(19px);
    margin: 0 0 em(42px, 19px);
  }
}

.rate-title {
  font-size: em(19px);
  line-height: 1;
  margin: em(50px, 19px) 0 em(12px, 19px);

  &.small-margin {
    margin-top: em(18px, 19px);
  }
}

.rate-title-secondary-information {
  display: block;
  font-size: em(15px, 19px);
  margin: em(17px, 15px) 0 0;
}

.rate-amount,
.rate-time {
  font-size: em(19px);
  line-height: 1;
  margin: 0 0 em(10px, 19px);
}

.rate-time {
  margin: 0 0 em(40px, 19px);

  &.no-margin {
    margin: 0;
  }
}

.rate-small-print {
  margin: em(40px) auto;
  width: 100%;

  @include media('>=tablet') {
    width: 75%;
  }

  p {
    font-weight: $proxima-nova-light;
  }
}
