.social {
  background: $pale-light-blue;
  font-size: em(16px);
  padding: em(30px, 16px);
  text-transform: uppercase;

  @include media('<tablet') {
    padding-left: 0;
    padding-right: 0;
  }

  a {
    display: inline-block;
    margin: 0 em(7px);
  }
}

.inner-content .social {
  margin: em(40px) 0 0;
}
