.team {
  background: $pale-light-blue;
  min-height: 748px;
  padding: em(72px) 0;
  position: relative;

  h4 {
    color: $primary-blue;
    font-weight: $proxima-nova-bold;
    font-size: em(38px);
    margin:  0 0 em(28px, 38px);
    border: 0;
    padding: 0;
    text-transform: none;
    text-align: left;
  }

  .green-action-button {
    margin: em(38px) 0 0;
  }
}

.home-team-members {
  position: absolute;
  right: 0;
  top: 0;
  width: 684px;
  height: 748px;

  @include media('<1200px') {
    position: static;
  }

  @include media('<tablet') {
    margin-top: em(40px);
    width: auto;
    height: auto;
  }

  .row {
    @include media('>=tablet') {
      position: absolute;
      left: 111px;
      max-width: 573px;
    }

    @include media('<tablet') {
      position: static;
    }
  }

  .team-members-row-0 {
    top: 93px;
  }

  .team-members-row-1 {
    top: 186px;
  }

  .team-members-row-2 {
    top: 279px;
  }

  .team-members-row-3 {
    top: 372px;
  }

  .team-members-row-4 {
    top: 466px;
  }

  .team-members-row-5 {
    top: 559px;
  }
}

.team-member-name {
  border-bottom: 0;
  color: $primary-blue;
  font-size: em(28px);
  font-weight: $proxima-nova-light;
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 em(14px, 28px);
  margin: em(14px, 28px) 0 0;
}

.team-member-role {
  border-bottom: 3px solid $grey;
  color: $primary-blue;
  font-size: em(14px);
  font-weight: $proxima-nova-light;
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 em(7px);
  margin: 0 0 em(14px);
}

.team-member-phone,
.team-member-email {
  color: $primary-blue;
  line-height: 1.25;
  margin: em(7px) 0;
}

.team-member-profile {
  p:first-of-type {
    margin-top: 0;
  }
}

.team-member-index {
  display: inline-block;
  margin: em(10px) em(20px);

  @include media('<desktop') {
    margin: em(10px);
  }
}
