.primary-title {
  color: $dark-blue;
  font-size: em(31px);
  font-weight: $proxima-nova-bold;
  line-height: 1.2;
  margin: em(60px, 31px) 0 em(32px, 31px);
  text-align: center;
}

.primary-title-accent {
  color: $light-green;
  display: block;
  font-weight: $proxima-nova-bold;

  @include media('>=tablet') {
    display: inline;
  }
}
