<%= additional_block_presenter.presented_block do %>
  <h4><%= additional_block_presenter.presented_title %></h4>

  <%= additional_block_presenter.presented_paragraph %>

  <%= additional_block_presenter.presented_button(0) %>
<% end %>
