<%= render 'optimadmin/shared/header/main_title', title: 'Edit Additional Title' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: additional_blocks_path(additional_block_id: @additional_title.additional_block.id), title: 'Additional Blocks' %>

  <%= render 'form' %>
</div>
