<%= render 'optimadmin/shared/header/main_title', title: 'Edit Resource' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: resources_path, title: 'Resource' %>

  <%= render 'form' %>
</div>