<%= render 'optimadmin/shared/header/main_title', title: 'New Referral Offer' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: referral_offers_path, title: 'Referral Offer' %>

  <%= render 'form' %>
</div>