<%= content_for :footer do %>
  <script>
    $('.clients-list').slick({
      infinite: true,
      dots: true,
      slidesToShow: 4,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 4000,
      responsive: [
        {
          breakpoint: 767,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            dots: true
          }
        }
      ]
    });
  </script>
<% end %>

<%= # TODO: Update me %>

<section class="clients">
  <div class="row">
    <div class="medium-12 columns text-center">
      <%= render partial: "additional_rows/styles/#{additional_row_presenter.style}/additional_blocks", collection: BaseCollectionPresenter.new(collection: additional_row_presenter.additional_blocks, view_template: self, presenter: AdditionalBlockPresenter), as: :additional_block_presenter %>

      <ul class="clients-list" data-animation-type='fadeInUp'>
        <%= render partial: 'clients/client', collection: @presented_clients, as: :client_presenter %>
      </ul>
    </div>
  </div>
</section>
