<div class="key-contact">
  <% present team_member do |presenter| %>
    <h5>Your Key Contact</h5>
    <%= presenter.index_image(class: 'key-contact-image') %>
    <strong><%= presenter.name %></strong>
    <%= presenter.email %>
    <%= presenter.phone %>
  <% end %>
</div>
